In [9]:
#lambda is 1 time use fuction

lambda and filter use the same concept as if else in left,right side of List comprehension 

lambda x : (result of if ) if condition1 else (result of else) >> left if concept in List comp

lambda x : condition2      >> Right if concecpt in List comp

both left and right if concept is combination of map and filter
map(lambda x: a if condition1 else b , filter(lambda x:condition2,list1))

In [1]:
a = [1,2,3]

In [4]:
#map syntax
#map(function,list)
list(map(lambda i:i*5,a))

[5, 10, 15]

In [5]:
#left else concept
list(map(lambda i:i*5 if i==3 else i,a))

[1, 2, 15]

In [10]:
#add filter
#what the filter is doing is replace the List (but just pick some member of list)  
list(map(lambda i:i*5 if i==3 else i, filter(lambda i: i > 1,a)))

[2, 15]

In [1]:
import pandas as pd

data = {'ID' : ['A', 'B', 'C', 'D'], 'Math':[91, 75, 62, 80], 'Science':[66, 70, 75, 77]}
df = pd.DataFrame(data)

In [2]:
df

  ID  Math  Science
0  A    91       66
1  B    75       70
2  C    62       75
3  D    80       77

In [4]:
df.Math

0    91
1    75
2    62
3    80
Name: Math, dtype: int64

In [6]:
#apply ใช้กับ pandas จำเป็นต้องระบุ axis
a = df.apply(lambda x: 'pass' if x.Math >= 80 else 'fail',axis = 'columns' )
a

0    pass
1    fail
2    fail
3    pass
dtype: object

In [10]:
b = df.apply(lambda x: 'pass' if (x.Math >= 80 and x.Science >= 70)  else 'fail',axis = 'columns')
b

0    fail
1    fail
2    fail
3    pass
dtype: object

In [11]:
df['result test'] = df.apply(lambda x: 'pass' if (x.Math >= 80 and x.Science >= 70)  else 'fail',axis = 'columns')
df

  ID  Math  Science result test
0  A    91       66        fail
1  B    75       70        fail
2  C    62       75        fail
3  D    80       77        pass