#syntax จำไม่ได้ก็ไปเปิด doc ดู
#search พวก  pandas merge doc เป็นต้น

In [4]:
import pandas as pd
import numpy as np

In [8]:
df = pd.DataFrame([[1,2],[3,4]],columns=list('AB'),index=['x','y'])
df

   A  B
x  1  2
y  3  4

In [9]:
df2  = pd.DataFrame([[5,6],[7,8]],columns=list('AB'),index=['x','y'])
df2

   A  B
x  5  6
y  7  8

In [29]:
df3 = pd.DataFrame([[9,10],[11,12]],columns=list('AC'),index=['x','y'])
df3

    A   C
x   9  10
y  11  12

Append
เป็นการต่อแบบต่อล่าง   (ต่อ row)

In [14]:
df.append(df2,ignore_index=True)

   A  B
0  1  2
1  3  4
2  5  6
3  7  8

In [16]:
df.append(df2,ignore_index=False)

   A  B
x  1  2
y  3  4
x  5  6
y  7  8

In [17]:
df

   A  B
x  1  2
y  3  4

Concat(ไม่ค่อยได้ใช้)
concat ถ้าเราไม่ระบุaxis จะทำงานเหมือน append ต่อ row 
join default จะเป็น outer=union  แต่ปรับเป็น inner=intercept ได้

In [20]:
a = pd.concat([df,df2],axis='index')
a

   A  B
x  1  2
y  3  4
x  5  6
y  7  8

In [22]:
b = pd.concat([df,df2],axis='columns')
b

   A  B  A  B
x  1  2  5  6
y  3  4  7  8

Join
ดูง่ายแต่ไม่ค่อยนิยม  เป็นการเอา columns มาชนกัน
default join left คือเอาตัวซ้ายเป็นหลัก

In [27]:
df.join(df2,lsuffix='_l',rsuffix='_r')
#ถ้ามี columns ที่เหมือนกันต่องมี lsuffix,rsuffix ด้วย

   A_l  B_l  A_r  B_r
x    1    2    5    6
y    3    4    7    8

In [31]:
df.join(df3,lsuffix='_l',rsuffix='_r')

   A_l  B  A_r   C
x    1  2    9  10
y    3  4   11  12

Merge นิยมสุด
ต่างกับ join 
1 merge พร้อมกันหลาย df ได้
2 merge ต้องระบุ key ว่าจะมาต่อกันตรงไหน และ default join เป็น inner

**ปกติในการทำงานเราต้องการ left join

In [46]:
df_merge = df.merge(df3,how='left')
df_merge

   A  B   C
0  1  2 NaN
1  3  4 NaN

In [47]:
df_merge = df.merge(df3,how='inner')
df_merge

Empty DataFrame
Columns: [A, B, C]
Index: []

In [48]:
df_merge = df.merge(df3,how='outer')
df_merge

    A    B     C
0   1  2.0   NaN
1   3  4.0   NaN
2   9  NaN  10.0
3  11  NaN  12.0

In [44]:
#merge หลายอันต้องไปดูเพิ่มเติม
df_merge2 = pd.merge([df,df3,df2],left_on='lkey',right_on='rkey')
df_merge2

TypeError: merge() missing 1 required positional argument: 'right'