In [1]:
friuts =['apple','banana','orange']

In [2]:
for x in friuts:
    print(x)

apple
banana
orange

In [3]:
for x in friuts:
    if x == 'apple':
        print('x')
    else:
        print('not apple')

x
not apple
not apple

In [4]:
n = 0 
for x in range(1,4):
    n = n+1
    print(n)

1
2
3

In [6]:
for i in range(1,4):
    print(i)

1
2
3

In [7]:
x = [1,2,3,4,5]
y = ['a,','b','c','d','e']

In [8]:
for i in x:
    print(i)
    for j in y:
        print('**')

1
**
**
**
**
**
2
**
**
**
**
**
3
**
**
**
**
**
4
**
**
**
**
**
5
**
**
**
**
**

In [9]:
for i in x:
    for j in y:
        print([i,j])

[1, 'a,']
[1, 'b']
[1, 'c']
[1, 'd']
[1, 'e']
[2, 'a,']
[2, 'b']
[2, 'c']
[2, 'd']
[2, 'e']
[3, 'a,']
[3, 'b']
[3, 'c']
[3, 'd']
[3, 'e']
[4, 'a,']
[4, 'b']
[4, 'c']
[4, 'd']
[4, 'e']
[5, 'a,']
[5, 'b']
[5, 'c']
[5, 'd']
[5, 'e']

In [10]:
n=10
for i in x:
    n = n*2
    for j in y:
        n= n+10
        print([i,j,n])

[1, 'a,', 30]
[1, 'b', 40]
[1, 'c', 50]
[1, 'd', 60]
[1, 'e', 70]
[2, 'a,', 150]
[2, 'b', 160]
[2, 'c', 170]
[2, 'd', 180]
[2, 'e', 190]
[3, 'a,', 390]
[3, 'b', 400]
[3, 'c', 410]
[3, 'd', 420]
[3, 'e', 430]
[4, 'a,', 870]
[4, 'b', 880]
[4, 'c', 890]
[4, 'd', 900]
[4, 'e', 910]
[5, 'a,', 1830]
[5, 'b', 1840]
[5, 'c', 1850]
[5, 'd', 1860]
[5, 'e', 1870]